.home-recruitments {
  .slider {
    width: 100% !important;
  }
  .lists {
    text-align: justify;
    .item-img {
      margin: auto 0;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    .position {
      line-height: 2.7rem;
      text-transform: uppercase;
      font-weight: 600;
      color: #444444;
      font-size: 1.8rem;
    }
    .requirement {
      font-weight: 500;
      color: #6a6a6a;
      font-size: 1.8rem;
    }
    .more-btn {
      margin-top: 2rem;
      display: flex;
      align-items: center;
    }
  }
}
