.intro-founders {
  h3 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.6rem;
    text-transform: uppercase;
    color: #3c3c3c;
    text-align: center;
    // flex-grow: 1;
    // min-height: 7.5rem;
  }

  .founder-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .founder-name {
      display: flex;
      margin-bottom: 1.6rem;
      img {
        // height: 2rem;
        margin-right: 0.6rem;
      }
    }
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
      flex: 1;
      .img-wrap {
        max-width: 26rem;
        max-height: 26rem;
        padding: 1rem;
        margin-bottom: 1.6rem;
        background-image: url('../../../assets/icons/phai-tren.svg'),
          url('../../../assets/icons/trai-duoi.svg');
        background-position: right top, left bottom;
        background-repeat: no-repeat, no-repeat;
        img {
          width: 100%;
        }
      }
      .detail-info {
        margin-bottom: 2.2rem;
        .detail-info-item {
          margin-top: 1.3rem;
          h4 {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            color: #3c3c3c;
          }
          ul {
            padding: 0 0 0 1.6rem;
            margin: 0.5rem 0 0.9rem 0;
          }
        }
      }
      .in-link {
        cursor: pointer;
        margin-top: auto;
        img {
          padding: 1.6rem;
          background: #e7e7e7;
          border-radius: 0.6rem;
          max-width: 6rem;
          // width: 3rem;
        }
      }
    }
    &:hover {
      .card {
        .img-wrap {
          background-image: url('../../../assets/icons/phai-tren-hover.svg'),
            url('../../../assets/icons/trai-duoi-hover.svg');
          transition: background-image 0.5s ease;
        }
        .in-link {
          img {
            background: #039d60;
            transition: background 0.5s ease;
          }
        }
      }
    }
  }
}

// @media screen and (min-width: 1600px) {
//   .intro-founders {
//     .position {
//       min-height: 7.5rem;
//     }
//   }
// }
