.slide-btn {
  margin: 0 2.4rem;
  cursor: pointer;
  &:hover {
    img {
      filter: brightness(0) saturate(100%) invert(21%) sepia(91%)
        saturate(3141%) hue-rotate(152deg) brightness(87%) contrast(96%);
    }
  }
}
.next {
  transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
}

.arrow-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
