.products-poster {
  text-align: justify;
  h1 {
    font-weight: 600;
    line-height: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
  }
  p {
    font-weight: 400;
    line-height: 3rem;
    font-size: 2rem;
  }
  img {
    width: 100%;
    border-radius: 0.6rem;
    margin-top: 1.6rem;
  }
}
